@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
/* Media */
@media (max-width:374px){
  .caixa {
    font-size: 25px;
    color: #FEDC0A;
  }
  .Main{
    background-color: #022873;
    min-height: 2050px;
  }
  .Formulario{
    margin-top: 30%;
  }
}
@media (min-width: 374px) and (max-width:424px){
  .caixa {
      font-size: 25px;
      color: #FEDC0A;
  }
  .Main{
      background-color: #022873;
      min-height: 2080px;
  }
  .Formulario{
      margin-top: 30%;
   }
}
@media (min-width: 424px) and (max-width:767px){
  .caixa {
    font-size: 25px;
    color: #FEDC0A;
  }
  .Main{
      background-color: #022873;
      min-height: 2100px;
  }
  .Formulario{
      margin-top: 28%;
  }
}
@media (min-width: 768px) and (max-width:1023px) {
  .caixa {
    font-size: 20px;
    color: #FEDC0A;
  }
  .Main{
      background-color: #022873;
      min-height: 1270px;
  }
  .Formulario{
      margin-top: 15%;
  }
}
@media (min-width: 1024px) and (max-width:1440px) {
  .caixa {
    font-size: 20px;
    color: #FEDC0A;
  }
  .Main{
      background-color: #022873;
      min-height: 1290px;
  }
  .Formulario{
      margin-top: 10%;
  }
}
@media (min-width: 1440px) {
  .caixa {
    font-size: 30px;
    color: #FEDC0A;
  }
  .Main{
      background-color: #022873;
      min-height: 1310px;
  }
  .Formulario{
      margin-top: 7%;
  }
}

/* Style Pagina */
  .cor {
    background-color: #022873;
  }
  .gnsCor {
  background-color: #3598D3;
  } 
  .botao {
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);
    color: #022873;
    font-weight: bold;
      }
  a {
    text-decoration: none;
  }
  .botao2{
    padding-left: 80px;
  }
  .logo {
    min-height: 150px;
    margin-top: 150px;
  }
  .cadastros{
    margin-top: 50px;
  }
  